*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/background.png');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition-duration: 2s;
    opacity: 100%;
}
button:hover{
    color: black;
    background: rgba(255, 255, 255, 0.8);
}